.app {
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  padding-bottom: 2rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3rem;
  padding: 30px;
  position: sticky;
  top: 0;
  z-index: 10;

  @media (max-width: 600px) {
    & > h1 {
      font-size: 1.125rem;
    }
  }
}

.darkmodeToggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.gap {
  height: 3rem;
  z-index: 10;
  top: 103.2px;
  position: sticky;
}

.container {
  padding-inline: 5rem;

  @media (max-width: 1088px) {
    padding-inline: 2rem;
  }

  @media (max-width: 600px) {
    padding-inline: 1rem;
  }
}

.darkmode {
  background-color: hsl(207, 26%, 17%);
  color: hsl(0, 0%, 100%);

  &* {
    background-color: hsl(209, 23%, 22%);
  }
}

.lightmode {
  background-color: hsl(0, 0%, 98%);
  color: hsl(200, 15%, 8%);

  &* {
    background-color: hsl(0, 0%, 100%);
  }
}
